[defaults]

inventory      = /etc/ansible/hosts
library        = /etc/ansible/modules/
remote_tmp     = /tmp/ansible/
pattern        = *
forks          = 50
poll_interval  = 15
sudo_user      = root
transport      = smart
remote_port    = 22468
module_lang    = C

gathering = smart
host_key_checking = False
sudo_exe = sudo
timeout = 10
log_path = /var/log/ansible.log
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d %H:%M:%S by {uid} on {host}

action_plugins     = /usr/share/ansible_plugins/action_plugins
callback_plugins   = /usr/share/ansible_plugins/callback_plugins
connection_plugins = /usr/share/ansible_plugins/connection_plugins
lookup_plugins     = /usr/share/ansible_plugins/lookup_plugins
vars_plugins       = /usr/share/ansible_plugins/vars_plugins
filter_plugins     = /usr/share/ansible_plugins/filter_plugins

fact_caching = memory

[ssh_connection]
pipelining = True
scp_if_ssh = True

[accelerate]
accelerate_port = 5099
accelerate_timeout = 30
accelerate_connect_timeout = 5.0
accelerate_daemon_timeout = 30 
